.info{
    background-color: $light-gray ;
    text-align: center;
    &__form{
        background-color: $dark-gray;
    }
    &__search{
        background-color: $dark-gray;
        border: none;
    }
}