@mixin liked {
    i {
        position: absolute;
        font-size: 35px;
        width: 36px;
        @content;
        @include phone_only{
            font-size: 25px;
            right: 15px;
        }

    }

    .fa-regular{
        opacity: 1;
    &:hover {
        
        z-index: 1;
        opacity: 0;
        transition: all 350ms ease-in-out;
        & + i{
            opacity: 1;
            transform: scale(1);
            transition: all 350ms ease-in-out;

        }
        
    }
    }

    .fa-solid {
        background: linear-gradient($color-primary , $color-secondary);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        transform: scale(0);

    }

}

@mixin overflow-hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

@mixin phone_only {
    @media screen and (max-width: 499px) {
        @content;
    }
}
@mixin small_screen {
    @media screen and (min-width:500px) and (max-width: 1058px){
        @content;
    }
    
}