$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$light-gray: #F6F6F6;
$dark-gray: #D9D9D9;
$delay-animation: 500ms 1000ms 1500ms 2000ms 3000ms 3500ms 4000ms 4500ms 5000ms 5500ms 6000ms 6500ms;


@keyframes animation-card{
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}